$breakpoint-tablet: 768px;
$breakpoint-phone: 376px;


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

   


    .header__user__nav {
        display: flex;
    }

    .header__user-info {
        display: flex;
        align-items: center;
        
    }

    .header__user-info-info {
        display: flex;
        width: 100px;
        height: 40px;
        align-items: center;
        margin-right: 24px;

        .header__user-info-info-logo {
            padding: 7px;
            width: 40px;
            height: 40px;
            background-color: #ee26c2;
            border-radius: 100%;
            margin-right: 8px;
        }

        

        .header__user-info-info-percent {
            font-weight: 600;
            font-size: 18px;
        }
    }

    .header__user-info-name {
        display: flex;
        align-items: center;
        margin-right: 26px;

        .header__user-info-name-info-person {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }

        .header__user-info-name-email {
            font-weight: 600;
            font-size: 18px;
        }
    }

    .header__buttons {
        display: flex;
        justify-content: space-between;
        width: 100px;

        .header__button {
            
            width: 40px;
            height: 40px;
           
           
        }
    }

}


@media (max-width: $breakpoint-phone) {
    .header {
        flex-direction: column;
        align-items: normal;
        height: auto;
        .header__user-info-name-info-person,
        .header__user-info-info-logo {
            display: none;
        }

        .header__logo {
            padding-top: 28px;
            padding-bottom: 20px;
        }
        
        .header__user__nav {
            align-items: center;
        }
        .header__user-info {
            flex-direction: column-reverse;
            align-items: flex-start;
            .header__user-info-info {
                .header__user-info-info-percent {
                    color: #797979;
                    
                    font-size: 12px;
                    font-weight: 400;
                    &::after {
                        content: 'выручки';
                        margin-left: 5px;
                    }

                }
            }
            .header__user-info-name {
                .header__user-info-name-email {
                    font-size: 16px;
                }
            }
           
        }
    }
}
