/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header .header__user__nav {
  display: flex;
}
.header .header__user-info {
  display: flex;
  align-items: center;
}
.header .header__user-info-info {
  display: flex;
  width: 100px;
  height: 40px;
  align-items: center;
  margin-right: 24px;
}
.header .header__user-info-info .header__user-info-info-logo {
  padding: 7px;
  width: 40px;
  height: 40px;
  background-color: #ee26c2;
  border-radius: 100%;
  margin-right: 8px;
}
.header .header__user-info-info .header__user-info-info-percent {
  font-weight: 600;
  font-size: 18px;
}
.header .header__user-info-name {
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.header .header__user-info-name .header__user-info-name-info-person {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.header .header__user-info-name .header__user-info-name-email {
  font-weight: 600;
  font-size: 18px;
}
.header .header__buttons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.header .header__buttons .header__button {
  width: 40px;
  height: 40px;
}

.main {
  width: 100%;
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
}
.main .main__content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.main .main__content__files {
  width: 100%;
  height: 709px;
  max-width: 295px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
}
.main .main__content__files .main__content__files__media__list {
  display: none;
}
.main .main__content__files .main__content__files__media__list .main__content__files__media__list__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main .main__content__files .main__content__files__media__list .main__content__files__media__list-open-btn {
  margin-right: 20px;
}
.main .main__content__files .main__content__files__media__list h2 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
.main .main__content__files .main__content__files__media__list .main__content__files__media__list-ul {
  height: 200px;
  overflow: hidden;
}
.main .main__content__files .main__content__files__media__list .main__content__files__media__list-btn {
  display: none;
  color: #EE26C2;
  font-size: 15px;
  text-align: end;
  margin-right: 20px;
  margin-bottom: 30px;
}
.main .main__content__files .main__content__files__report__list {
  display: none;
}
.main .main__content__files .main__content__files__report__list .main__content__files__report__list__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main .main__content__files .main__content__files__report__list .main__content__files__report__list__inner .main__content__files__report__list-open-btn {
  margin-right: 20px;
}
.main .main__content__files .main__content__files__report__list .main__content__files__report__list__inner h2 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
.main .main__content__files .main__content__files__report__list .main__content__files__report__list-ul {
  height: 200px;
  overflow: hidden;
}
.main .main__content__files .main__content__files__report__list .main__content__files__report__list-btn {
  display: none;
  color: #EE26C2;
  font-size: 15px;
  text-align: end;
  margin-right: 20px;
  margin-bottom: 30px;
}
.main .main__content__files .main__content__files__title {
  padding-left: 20px;
  padding-top: 28px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 46px;
}
.main .main__content__files .main__content__files__logo {
  margin-bottom: 30px;
}
.main .main__content__files .main__content__files__description {
  width: 100%;
  max-width: 261px;
  padding-left: 20px;
  text-align: center;
}
.main .main__content__office {
  width: 100%;
  height: 709px;
  max-width: 875px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.main .main__content__office .main__content__office-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 28px;
  margin-bottom: 28px;
}
.main .main__content__office .main__content__office-info .main__content__office-info-title {
  font-weight: 600;
  font-size: 24px;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner {
  display: flex;
  align-items: center;
  position: relative;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-name {
  color: #525252;
  margin-right: 26px;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-name span {
  margin-right: 10px;
  font-weight: 600;
  color: black;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-btns {
  display: flex;
  flex-direction: column;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-btns .main__content__office-info-inner-btn {
  width: 40px;
  height: 40px;
  background-color: #F5F5F5;
  border-radius: 100%;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-btns .main__content__office-info-inner-btns-open {
  visibility: hidden;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px 30px;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100%;
  max-width: 332px;
  height: 82px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-btns .main__content__office-info-inner-btns-open .main__content__office-info-inner-btns-open-item {
  margin-bottom: 12px;
  text-align: end;
}
.main .main__content__office .main__content__office-info .main__content__office-info-inner .main__content__office-info-inner-btns .main__content__office-info-inner-btns-open .main__content__office-info-inner-btns-open-item:hover {
  color: #EE26C2;
}
.main .main__content__office .main__content__office__chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 818px;
  height: 596px;
  background-color: #F5F5F5;
  border-radius: 20px;
  margin: 0 auto;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner .main__content__office__chat-logo {
  padding-top: 50px;
  margin-bottom: 20px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner .main__content__office__chat-text {
  font-family: Inter;
  width: 100%;
  max-width: 470px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 57px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner .main__content__office__chat-btns {
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner .main__content__office__chat-btns .main__content__office__chat-btn {
  font-family: Inter;
  padding: 12px 22px;
  border-radius: 21px;
  font-weight: 600;
  color: #fff;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner .main__content__office__chat-btns .main__content__office__chat-btn.purple {
  margin-right: 12px;
  margin-left: 20px;
  background-color: #EE26C2;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat-inner .main__content__office__chat-btns .main__content__office__chat-btn.blue {
  background-color: #2676EE;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner {
  width: 100%;
  max-width: 819px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #F5F5F5;
  border-radius: 20px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner .main__content__office__chat__inner-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 20px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner .main__content__office__chat__inner-input input {
  width: 100%;
  margin-bottom: 30px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner .main__content__office__chat__inner-input-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner .main__content__office__chat__inner-input-btns .main__content__office__chat__inner-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner .main__content__office__chat__inner-input-btns .main__content__office__chat__inner-btn button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #EE26C2;
  margin-bottom: 2px;
}
.main .main__content__office .main__content__office__chat .main__content__office__chat__inner .main__content__office__chat__inner-input-btns .main__content__office__chat__inner-btn span {
  font-size: 10px;
  font-weight: 400;
}

.mediaPlan__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 253px;
  height: 42px;
  background-color: #F5F5F5;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 20px;
}
.mediaPlan__item .mediaPlan__item-text {
  font-size: 15px;
  font-weight: 400;
}
.mediaPlan__item .mediaPlan__item-xmlLogo {
  width: 24px;
  height: 24px;
  margin-left: 9px;
}
.mediaPlan__item .mediaPlan__item-button {
  height: 100%;
  width: 42px;
  background-color: #949494;
  border-radius: 4px;
}
.mediaPlan__item .mediaPlan__item-button-active {
  background-color: #F4D4ED;
}

.spec__text {
  font-size: 12px;
  font-weight: 400;
  color: #525252;
  margin-left: 20px;
  margin-bottom: 5px;
}
.spec__text svg {
  margin-right: 5px;
}

.footer {
  background-color: #EBEBEB;
  margin-top: auto;
  font-family: Inter;
}
.footer .footer__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.footer .footer__logo {
  padding: 20px;
  font-weight: bold;
  font-size: 35px;
  color: #C3C3C3;
}
.footer .footer__menu {
  display: flex;
}
.footer .footer__menu a:hover {
  color: #EE26C2;
}
.footer .footer__menu .footer__menu-item {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
.footer .footer__menu .footer__menu-item svg {
  margin-right: 10px;
}
.footer .footer__menu .footer__menu-item .footer__menu-inner {
  display: flex;
}
.footer .footer__menu .footer__menu-item .footer__menu-inner .footer__menu-inner-item {
  margin-right: 12px;
}
.footer .footer__menu .footer__menu-item .footer__menu-inner .footer__menu-inner-item.selected a {
  color: #EE26C2;
}
.footer .footer__social-icons {
  display: flex;
  font-size: 35px;
  a-width: 40px;
  a-height: 40px;
}
.footer .footer__social-icons .footer__social-icon {
  margin-right: 12px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: Inter;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #B5B5B5;
  border-radius: 20px;
}

*::-webkit-scrollbar {
  height: 0.2%;
}/*# sourceMappingURL=main.css.map */