@import "./blocks/reset";
@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/footer";


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

  }

  *::-webkit-scrollbar {
    width: 6px;            
  }
  *::-webkit-scrollbar-track {
    background: #fff;    
  }
  *::-webkit-scrollbar-thumb {
    background-color: #B5B5B5;    
    border-radius: 20px;       
  }




